<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- https://logging.apache.org/log4net/release/manual/configuration.html -->
  <!-- http://aspdotnet.tistory.com/1407 -->
  <appender name="LogConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%utcdate] [%property{ServerType} [%p] %m%n" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file type="log4net.Util.PatternString" value="%property{ServerType}.log" />
    <encoding value="utf-8"/>
    <datePattern value="'.'yyyy-MM-dd" />
    <staticLogFileName value="true" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%utcdate] [%property{ServerType}] [%p] %m%n" />
    </layout>
  </appender>
  <logger name="Logger">
    <level value="ALL" />
    <appender-ref ref="LogConsoleAppender" />
  </logger>
  <logger name="RollingLogger">
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
</log4net>
